build/build.config
ANE-Bugsnag-Test/bin/*
android/bin/*
android/gen/*
ANE-Bugsnag-Test/src/ANEBugsnag.ane
.idea/workspace.xml
ios/ANEBugsnag/build
ios/ANEBugsnag/ANEBugsnag.xcodeproj/project.xcworkspace/xcshareddata
